services:
  lb:
    image: zenwistaria/haproxy-keepalived:latest
    container_name: lb
    network_mode: host
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
      - SYS_NICE
    volumes:
      - ./keepalived/keepalived.conf:/usr/local/etc/keepalived/keepalived.conf
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./server.pem:/certs/server.pem:ro
