services:
  lb:
    image: zenwistaria/haproxy-keepalived:latest
    container_name: lb
    network_mode: host
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
      - SYS_NICE
    volumes:
      - ./config:/config
