name: Builder

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Prepare metadata
        id: meta
        run: |
          echo "build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_OUTPUT

      - name: Build & Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ github.ref_name }}
          build-args: |
            TITLE=${{ github.event.repository.name }}
            VERSION=${{ github.ref_name }}
            DESCRIPTION=This is a docker image for ${{ github.event.repository.name }}
            SOURCE=https://github.com/zen-wistaria/${{ github.event.repository.name }}
            URL=https://hub.docker.com/r/zenwistaria/${{ github.event.repository.name }}
            AUTHORS=Zen Wistaria
            BUILD_SOURCE=github-actions
            BUILD_DATE=${{ steps.meta.outputs.build_date }}
            VCS_REF=${{ github.sha }}
